    <!-- ******ABOUT****** -->
    <section id="about" class="about section">
        <div class="container">
            <h2 class="title text-center">Live With Passion</h2>
            <p class="intro text-center">
              There are many ways to live life -- there is no right or wrong. 
              However, some of us believe in living a life full of passion -- a life where you never feel bored, stagnant, or stuck 
              -- a life where you're constantly excited and inspired. Without passion, life seems meaningless and mundane. 
              To live a conventional life where we embark on a traditional job that doesn't excite us is scary and dreadful. 
              To live by the rules and marry someone boring is a life in imprisonment. 
              You believe that to live is to always stimulate your senses, to feel, to experience, and to never be bored.
            </p>
            <div class="row">
                <div class="item col-md-4 col-sm-12 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-camera-retro fa-2x"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Always find out what your passion is.</h3>
                        <p>
                          The first step to living a life full of passion is to find out what your passion is. 
                          Looking back to your childhood, you remember so vividly what you were passionate about, 
                          what you could spend hours on without feeling lonely, and what you felt proud of achieving as a kid. 
                          As you grow up, sometimes you feel overwhelmed with the responsibilities you have to take. 
                          But no matter how busy you are, you always find an interest outside of your role at work or your role as a family member. 
                          You always find your passion and make time for it. And if you're lucky, you can successfully turn your passion into a career. 
                          </br><b>Your passion keeps your heart beating. It gives you room to breathe and space to relax -- truly an inspiring gift to your soul!</b>
                        </p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-12 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-battery-half"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Get obsessed with your passion</h3>
                        <p>
                          Once you've discovered your passion, you give it all you've got and get to know it inside and out. 
                          Your passion becomes a huge part of who you are -- a part of your identity. 
                          It is something you feel proud to call "your interest" as it helps build up your self-image and self-esteem. 
                          Even if you start out as an amateur or a beginner, you are determined to become an expert in it. 
                          You live and breathe it. It is almost always magical when you bump into someone who is as passionate about the same thing as you are. 
                          Your eyes light up when you talk about your passion. You feel energetic and enthusiastic about it. 
                          Even when your body is tired, your heart tells you to keep going. 
                          You can never imagine living a life without a strong passion for something. 
                        </br><b>You see the world through your passion -- this is the only way you can live and the only way for you to really enjoy life.</b>
                        </p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-12 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-shield"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Be open-minded and curious.</h3>
                        <p>
                            You live life with arms wide open and are open to opportunities especially in your field of passion. 
                            You try to listen and understand, rather than judge. By being open-minded, 
                            you get to learn more and experience more 
                            -- shaping your perspective to see things from all angles and to find beauty in different things. 
                            Your inspiration is fueled by your curiosity. Your creativity is driven by your desire to learn.
                        </br><b>You love meeting new interesting people who live with passion and are curious to learn more. 
                            The world contains limitless opportunities and the path of discovery just never ends.</b>
                        </p>
                    </div><!--//content-->
                </div><!--//item-->
                <!-- <div class="clearfix visible-md"></div> -->
                <div class="item col-md-4 col-sm-12 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-tablet"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Be spontaneous</h3>
                        <p>
                          To live life according to plans is to live a boring life. 
                          Your definition of life planning is more of a strategic thought-out process that gives you the ability to assess which approach is best. 
                          However, you keep your plan flexible. You are ready to jump on the plane whenever you need to. 
                          You are willing to say yes to random and spontaneous opportunities presented in front of you. 
                          You are not scared to commit to a decision made on the spur of the moment. 
                          In fact, it excites you to just jump right into something and see where it takes you.
                        </br><b>Jumping out of your comfort zone gives you an adrenaline rush. 
                            Knowing that you have the flexibility and freedom to fly and run wild gives you comfort.</b>
                          Life is fun. So why not embrace it and be a little unpredictable, right?
                        </p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-12 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-book"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Love fully and deeply</h3>
                        <p>
                          Your passion in life goes beyond just your enthusiasm for your topic of interest. 
                          Your passion penetrates all parts of your life including love. You love fully and deeply with a passion. 
                          You don't let it go dry or stale. You always find ways to spice up your love life. 
                          Sometimes you feel vulnerable because of this. But it is the only way to truly feel the emotional side of yourself.
                        </br><b>Mediocrity and dull are not in your dictionary. It is to love passionately or nothing at all.</b>
                        </p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-12 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-spinner fa-spin"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Be inspiring</h3>
                        <p>
                        <i>The meaning of life is to find your gift. The purpose of life is to give it away. -- Pablo Picasso</i>
                        Passion is contagious and the only way to be truly fulfilled is to inspire others. 
                        As your passion gives your life purpose and meaning, it would be a shame to keep what you know and what you experience to yourself. 
                        Telling your life's story or showcasing your creativity to the world is a way to pass on your passion. 
                        You want to inspire others to feel better about life and themselves. 
                        You want to inspire others to do more, be more, and achieve more. At the end of the day, to feel uninspired and hopeless is the worst feeling ever. 
                        As you are someone who lives with passion and finds happiness and life's joy through it, you want to inspire others to feel the same way.
                        </p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-12 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Travel</h3>
                        <p>
                        <i>The world is a book and those who do not travel read only one page. -- St. Augustine</i>
                        Whatever your passion is, there are communities of people who are passionate about the same thing as you. 
                        Their perspective on it might be somewhat different. But the beauty of it is to appreciate the difference, 
                        to perceive things from the angles you haven't seen, and to experience things you haven't done. 
                        The beauty of art in a French artist's perspective might be somewhat different from an American artist's perspective. 
                        The beauty of electronic music to an English producer's ears might be different to a German producer's ears.
                        </br><b>To travel is to expand the horizon of where your passion is confined.</b>
                        </p>
                    </div><!--//content-->
                </div><!--//item-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//about-->
