    <!-- ******ABOUT****** -->
    <section id="about" class="about section">
        <div class="container">
            <h2 class="title text-center">What is thumbsup?</h2>
            <p class="intro text-center">
              Thumbsup is a static gallery generator.
              Point it at a folder full of photos and videos, and it will build an HTML website to view them.
              It takes care of resizing photos, creating thumbnails, re-encoding videos to a web-friendly format, and more...
            </p>
            <div class="row">
                <div class="item col-md-4 col-sm-12 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-github"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Open-source</h3>
                        <p>
                          Thumbsup is free, and the source code is <a href="http://github.com/thumbsup/" target="_blank">hosted on Github</a>.
                          Contributions are always welcome.
                        </p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-12 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-plug"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Get started in seconds</h3>
                        <p>
                          Create a whole gallery from a single command.
                          If you have more time, pick a theme, configure your styles,
                          or change the config settings to control how albums are created.
                        </p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-12 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-rocket"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Fast</h3>
                        <p>
                          Thumbsup keeps track of which photos are new and only rebuilds what's necessary.
                          If everything is up to date, running thumbsup on a 50GB folder only takes a few seconds.
                        </p>
                    </div><!--//content-->
                </div><!--//item-->
                <!-- <div class="clearfix visible-md"></div> -->
                <div class="item col-md-4 col-sm-12 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-tablet"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Mobile friendly</h3>
                        <p>
                          The generated website can be viewed on any device - including videos.
                          Have a look for yourself at the <a href="/demo/themes/mosaic" target="_blank">demo site</a>.
                        </p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-12 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-linux"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Cross-platform</h3>
                        <p>
                          Available as an <code>npm</code> module or a <code>Docker</code> image, it works on macOS, Linux and Windows.
                          Thumbsup it built upon well established tools like <code>ffmpeg</code>.
                        </p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-12 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-cloud"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Deploy anywhere</h3>
                        <p>
                          The generated galleries are fully static and self contained.
                          Browse them from your computer, or upload them to <code>AWS S3</code> for the world to see.
                        </p>
                    </div><!--//content-->
                </div><!--//item-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//about-->
