    <!-- ******ABOUT****** -->
    <section id="about" class="about section">
        <div class="container">
            <h2 class="title text-center">Live With Passion</h2>
            <p class="intro text-center">
              There are many ways to live life -- there is no right or wrong.
              However, some of us believe in living a life full of passion -- a life where you never feel bored, stagnant, or stuck 
              -- a life where you're constantly excited and inspired. Without passion, life seems meaningless and mundane.
              To live a conventional life where we embark on a traditional job that doesn't excite us is scary and dreadful.
              To live by the rules and marry someone boring is a life in imprisonment.
              You believe that to live is to always stimulate your senses, to feel, to experience, and to never be bored.
            </p>
            <div class="row">
                <div class="item col-md-4 col-sm-12 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-github"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Always find out what your passion is.</h3>
                        <p>
                          The first step to living a life full of passion is to find out what your passion is. 
                          Looking back to your childhood, you remember so vividly what you were passionate about, 
                          what you could spend hours on without feeling lonely, and what you felt proud of achieving as a kid. 
                          As you grow up, sometimes you feel overwhelmed with the responsibilities you have to take. 
                          But no matter how busy you are, you always find an interest outside of your role at work or your role as a family member. 
                          You always find your passion and make time for it. And if you're lucky, you can successfully turn your passion into a career.
                        </p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-12 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-plug"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Get started in seconds</h3>
                        <p>
                          Create a whole gallery from a single command.
                          If you have more time, pick a theme, configure your styles,
                          or change the config settings to control how albums are created.
                        </p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-12 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-rocket"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Fast</h3>
                        <p>
                          Thumbsup keeps track of which photos are new and only rebuilds what's necessary.
                          If everything is up to date, running thumbsup on a 50GB folder only takes a few seconds.
                        </p>
                    </div><!--//content-->
                </div><!--//item-->
                <!-- <div class="clearfix visible-md"></div> -->
                <div class="item col-md-4 col-sm-12 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-tablet"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Mobile friendly</h3>
                        <p>
                          The generated website can be viewed on any device - including videos.
                          Have a look for yourself at the <a href="/demo/themes/mosaic" target="_blank">demo site</a>.
                        </p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-12 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-linux"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Cross-platform</h3>
                        <p>
                          Available as an <code>npm</code> module or a <code>Docker</code> image, it works on macOS, Linux and Windows.
                          Thumbsup it built upon well established tools like <code>ffmpeg</code>.
                        </p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-12 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-cloud"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Deploy anywhere</h3>
                        <p>
                          The generated galleries are fully static and self contained.
                          Browse them from your computer, or upload them to <code>AWS S3</code> for the world to see.
                        </p>
                    </div><!--//content-->
                </div><!--//item-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//about-->
