    <section id="promo" class="promo section offset-header grid-cover">
        <div class="container text-center">
            <h2 class="title"><span class="highlight">Tùy Duyên Hội</span></h2>
            <p class="intro">There are many ways to live life, there is no right or wrong.</p>
            <img src="/public/images/hero.jpg" style="width: 100%; max-width: 30em; margin-bottom: 2em;" />
            <div class="btns">
                <a class="btn btn-cta-secondary" href="#">Share</a>
                <a class="btn btn-cta-primary" href="/github-pages-gallery" target="_blank">Join</a>
            </div>
        </div>
    </section>
