    <section id="promo" class="promo section offset-header grid-cover">
        <div class="container text-center">
            <h2 class="title">thumbs<span class="highlight">up</span></h2>
            <p class="intro">Static web galleries for all your photos and videos</p>
            <img src="/public/images/hero.png" style="width: 100%; max-width: 30em; margin-bottom: 2em;" />
            <div class="btns">
                <a class="btn btn-cta-secondary" href="/docs">Install</a>
                <a class="btn btn-cta-primary" href="/demos/themes/mosaic" target="_blank">Demo</a>
            </div>
        </div>
    </section>
