    <section id="promo" class="promo section offset-header grid-cover">
        <div class="container text-center">
            <h1 class="title">Tùy Duyên <span class="highlight">Hội</span></h1>
            <p class="intro">Vẫn là Con đường ấy</br>
                Và nắng vẫn chiếu qua hàng cây</br>
                Vui biết mấy Gặp lại đây</br>
                Điều trông thấy Ngày hôm nay</br>
            <img src="/public/images/hero.jpg" style="width: 100%; max-width: 30em; margin-bottom: 2em;" />
            <div class="btns">
                <a class="btn btn-cta-secondary" href="/docs">Install</a>
                <a class="btn btn-cta-primary" href="/github-pages-gallery" target="_blank">Tùy Duyên Hội</a>
            </div>
        </div>
    </section>
