<!-- ******DOCS****** -->
<section id="docs" class="docs section">
    <div class="container">
        <div class="docs-inner">
          <h2 class="title text-center">Quick start</h2>
          <div class="block">
              <p>
                Simply organise your photos and videos into a folder.
                Getting started is as easy as
                <pre class="highlight"><code>
npm install -g thumbsup
thumbsup --input ./photos --output ./gallery
                </code></pre>
                <p>
                  You can also use the
                  <a href="https://hub.docker.com/r/thumbsupgallery/thumbsup/">thumbsupgallery/thumbsup</a> Docker image.
                  From selecting themes to thumbnail sizes and sorting options,
                  there are many more settings you can experiment with.
                </p>
                <div style="margin: 2em 0; text-align: center;">
                  <a class="btn btn-cta-primary" href="/docs">Read the documentation</a>
                </div>
              </p>
          </div><!--//block-->
        </div><!--//docs-inner-->
    </div><!--//container-->
</section><!--//docs->
