<!-- ******DOCS****** -->
<section id="docs" class="docs section">
    <div class="container">
        <div class="docs-inner">
          <h2 class="title text-center">HEAVEN'S WELL </br>(20 & 21 JUNE 2015 --- MID-SUMMER)</h2>
          <div class="block">
              <p>
                HEAVEN'S WELL (20 & 21 JUNE 2015 --- MID-SUMMER) --- WHERE ARE THE FIRST TO BE MARKED BY THE HALF LIFE.</br>
                Several narrative lines !!!</br>
                Finally, i have done what i wanted for a long time : "overnight in the wild"
                After a few days left Heaven's Well, feeling until now still appeal. 
                In the poem "The Singing Ship" of Che Lan Vien, there is a sectional : 
                "When you're in, just where the land in / When we go, land metamorphic to the soul!" 
                Well, it is true that Heaven's Well has already turned true soul !
                </p>
                <div style="margin: 2em 0; text-align: center;">
                  <a class="btn btn-cta-primary" href="/docs">Read The Blog</a>
                </div>
              </p>
          </div><!--//block-->
        </div><!--//docs-inner-->
    </div><!--//container-->
</section><!--//docs->
