    <!-- ******FEATURES****** -->
    <section id="features" class="features section grid-cover">
        <div class="container text-center">
            <h2 class="title">Themes</h2>
            <p class=brief>
              Pick a theme for your gallery!
              Themes include navigation, album previews, photo/video pages and a media viewer.
              Customise your theme &amp; colors easily with extra CSS rules.
              Learn more about themes <a href="/docs/themes">in the documentation</a>.
            </p>
            <div class="row theme-gallery">
              <!-- Classic -->
              <div class="item col-md-4 col-sm-4 col-xs-12">
                  <img src="/public/images/theme-classic-media.png" alt="Classic theme">
              </div>
              <!-- Cards -->
              <div class="item col-md-4 col-sm-4 col-xs-12">
                  <img src="/public/images/theme-cards-albums.png" alt="Cards theme">
              </div>
              <!-- Mosaic soon -->
              <div class="item col-md-4 col-sm-4 col-xs-12">
                  <img src="/public/images/theme-mosaic-albums.png" alt="Mosaic theme">
              </div>
            </div>
        </div><!--//container-->
    </section><!--//features-->
