    <!-- ******FEATURES****** -->
    <section id="features" class="features section grid-cover">
        <div class="container text-center">
            <h2 class="title">Save Your Memories</h2>
            <p class=brief>
                One great way to preserve your memories is to make sure you’re not the only one who’s got them. 
                By sharing your story with others, you’re adding another measure of security — 
                and you’re giving your loved ones a chance to get to know you better. 
                As we mentioned, social media can be a great way to do this, but how you choose to share your memories is up to you.
            </p>
            <div class="row theme-gallery">
              <!-- Classic -->
              <div class="item col-md-4 col-sm-4 col-xs-12">
                  <img src="/public/images/001-albums.png" alt="Classic theme">
              </div>
              <!-- Cards -->
              <div class="item col-md-4 col-sm-4 col-xs-12">
                  <img src="/public/images/002-albums.png" alt="Cards theme">
              </div>
              <!-- Mosaic soon -->
              <div class="item col-md-4 col-sm-4 col-xs-12">
                  <img src="/public/images/003-albums.png" alt="Mosaic theme">
              </div>
            </div>
        </div><!--//container-->
    </section><!--//features-->
