/* ======= Header ======= */
.home .header {
  background: #fff;
}
.home .header .logo a {
  color: #17baef;
}
.home .header .main-nav .nav .nav-item a {
  color: #666;
}
.grid-cover {
  background: #17baef;
  background: url(/public/images/hero-grid.jpg) center center repeat;
  background-size: cover;
  color: #fff;
}
/* ======= Promo Section ======= */
.promo {
  color: #fff;
  padding-top: 80px;
  padding-bottom: 60px;
}
.promo .container {
  opacity: 1;
  position: relative;
  z-index: 2;
}
.promo .title {
  font-size: 98px;
  color: #074f66;
  margin-top: 0;
}
.promo .title .highlight {
  color: #eebf3f;
}
.promo .intro {
  font-size: 28px;
  max-width: 680px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.promo .btns .btn {
  margin-right: 15px;
  font-size: 18px;
  padding: 8px 30px;
}
.promo .meta {
  margin-top: 120px;
  margin-bottom: 30px;
  color: #0a7396;
}
.promo .meta li {
  margin-right: 15px;
}
.promo .meta a {
  color: #0a7396;
}
.promo .meta a:hover {
  color: #074f66;
}
.promo .social-media {
  background: #0c86ae;
  padding: 10px 0;
  margin: 0 auto;
}
.promo .social-media li {
  margin-top: 15px;
}
.promo .social-media li.facebook-like {
  margin-top: 0;
  position: relative;
  top: -5px;
}

/* ======= About Section ======= */
.about {
  padding: 80px 0;
  background: #fff;
}
.about .title {
  color: #074f66;
  margin-top: 0;
  margin-bottom: 60px;
}
.about .intro {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.about .item {
  position: relative;
  margin-bottom: 30px;
}
.about .item .icon-holder {
  position: absolute;
  left: 30px;
  top: 0;
}
.about .item .icon-holder .fa {
  font-size: 24px;
  color: #074f66;
}
.about .item .content {
  padding-left: 60px;
}
.about .item .content .sub-title {
  margin-top: 0;
  color: #074f66;
  font-size: 18px;
}
/* ======= Features Section ======= */
.features {
  padding: 80px 0;
  color: #fff;
}
.features .container {
  color: #444;
  max-width: 800px;
  padding: 0 1em 1em 1em;
}
.features .title {
  color: #074f66;
  margin-top: 0;
  margin-bottom: 30px;
  background: #fff;
  padding: 1em;
  margin-bottom: 0;
}
.features .brief {
  background: #fff;
  padding: 0 1em 1.5em 1em;
}
.features .theme-gallery {
  margin-top: 3em;
}
.features .theme-gallery .item {
  padding: 1em;
}
.features .theme-gallery a {
  color: #17baef;
}
.features .theme-gallery img {
  border: 2px solid #fff;
  box-shadow: -1px 1px 8px 1px rgba(0,0,0,0.3);
  width: 100%;
}

/* ======= Docs Section ======= */
.docs {
  padding: 80px 0;
  background: #f5f5f5;
}
.docs .title {
  color: #074f66;
  margin-top: 0;
  margin-bottom: 30px;
}
.docs .docs-inner {
  max-width: 800px;
  background: #fff;
  padding: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 0 auto;
}
.docs .block {
  /*margin-bottom: 60px;*/
}
.docs .code-block {
  margin: 30px inherit;
}
.docs .code-block pre[class*="language-"] {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
